<nav class="navbar navbar-expand-md navbar-dark bg-dark pt-1 pb-1">
  <a class="navbar-brand pl-5" href="/" data-toggle="tooltip" title="Made by youneskasri@gmail.com">
    <span class="text-warning">Attendance</span>
    <span class="text-success">Check</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/a-propos">Historique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq">Employees</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
         <a class="btn btn-light" id="testPicture">Test Picture</a>
      </li>
      <li class="nav-item">
          <a class="btn btn-warning">
            <i class="fas fa-cogs"></i> Configuration
          </a>
      </li>
      <li class="nav-item">
         <a class="btn btn-default text-light">بالعربي</a>
      </li>
    </ul>

  </div>
</nav>

