<nav class="navbar navbar-expand-md navbar-dark bg-dark pt-1 pb-1" style="z-index: 1">
  <a class="navbar-brand pl-5" href="/" data-trigger="hover" data-toggle="popover" title="Contact me at" data-content="youneskasri@gmail.com">
    <span class="text-warning">Attendance</span>
    <span class="text-success">Check</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Scanner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employees">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cards">Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/attendances">Attendances</a>
      </li>      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
         <a class="btn btn-light" id="testPicture">Test Picture</a>
      </li>  
      <li class="nav-item">
          <a class="btn btn-warning" href="/logs">
            <i class="fas fa-cogs"></i> Configuration
          </a>
      </li>
      
      <li class="nav-item">
        {{#cond volume '===' 'ON'}}
          <a id="volume" class="btn btn-default text-light" href=""><i class="fas fa-volume-up"></i></a>
        {{else}}
          <a id="volume" class="btn btn-default text-light" href=""><i class="fas fa-volume-off"></i></a>
        {{/cond}}
      </li>
      <li class="nav-item">
         <a class="btn btn-default text-light">بالعربي</a>
      </li>
    </ul>
  

  </div>
</nav>
  



