# ignore packages installed by npm
node_modules
package-lock.json

# ignore temp files
*~

#ignore images
public/images

#ignore logs
logs/app.log

# our secret keys
.env*
credentials.js
lib/crypto.js


# ignore deployed files
target

.vscode/settings.json
package-lock.json
logs/app.log
package-lock.json
