<div class="container-fluid p-0 bg-light">
  <div class="row pt-2">

    {{#if lastAttendance}}
      <div class="col-6">
        <!-- Hidden -->
        <canvas class="d-none" id="todaysPictureCanvas" width="400" height="300" 
        data-toggle="tooltip" title="Today's picture" data-placement="bottom"></canvas>
        <h6 class="text-center" data-i18n="TODAYS_PICTURE">Today's picture</h6>
        <img id="todaysPicture" class="w-100" data-toggle="tooltip" title="Today's picture"  data-placement="bottom" 
        src="{{ lastAttendance.faceImage.data }}" alt="Card image">
      </div>
      <div class="col-6">
        <h6 class="text-center"><span class="text-secondary" data-i18n="COMPARED_TO">Compared to</span> <span data-i18n="OLD_PICTURE">Old picture</span></h6>
        {{#if employee.profileImage }}
          <img id="oldPicture" class="card-img-top" data-toggle="tooltip" title="Old picture"  data-placement="bottom" 
          src="{{ employee.profileImage.data }}" alt="Card image"/>
        {{else}}
          <img id="oldPicture" class="card-img-top" data-toggle="tooltip" title="Old picture"  data-placement="bottom" 
          src="/images/img_avatar3.png" alt="Card image"/>
        {{/if}}
      </div>
    {{else}}
      <div class="col-6">
        <!-- Hidden -->
        <canvas class="d-none" id="todaysPictureCanvas" width="400" height="300" 
        data-toggle="tooltip" title="Today's picture" data-placement="bottom"></canvas>
        <h6 class="text-center"  data-i18n="TODAYS_PICTURE">Today's picture</h6>
        <img id="todaysPicture" class="w-100" data-toggle="tooltip" title="Today's picture"  data-placement="bottom" 
        src="/images/img_avatar3.png" alt="Card image">
      </div>
      <div class="col-6">
        <h6 class="text-center"><span class="text-secondary"data-i18n="COMPARED_TO">Compared to</span> <span data-i18n="OLD_PICTURE">Old picture</span>
        <img id="oldPicture" class="card-img-top" data-toggle="tooltip" title="Old picture"  data-placement="bottom" 
        src="/images/img_avatar3.png" alt="Card image">
      </div>      
    {{/if }}

  </div>
</div>