<!DOCTYPE html>
<html>

  <head>
    <title>Show Attendances</title>
    {{> links}}
  </head>

  <body class="p-0 bg-light text-dark">
    {{> loadingSpinner}}
    {{> navbar}}
    {{> errorHandlers}}
    
    <!-- Content -->
    <div class="container">
        {{#each attendances}}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        {{/each}}
    </div> 

    {{> scripts}}
  
  <!-- Script: Show Attendance Modal -->
  <script type="text/javascript" src="/javascripts/show-attendance-modal.js"></script>

  </body>
</html>