<!DOCTYPE html>
<html>
  <head>
    <title>Instascan</title>
    <script type="text/javascript" src="javascripts/instascan.min.js"></script>
  </head>
  <body>

  	<h1>Scanner le QRCode</h1>
    <video id="preview"></video>


	<h2>Cameras</h2>
	<ul id="cameras">
		
	</ul>

	<h2>Résultats</h2>
    <ul id="resultats">
    	
    </ul>


	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
    <script type="text/javascript" src="javascripts/scanner.js">
    </script>
  </body>
</html>