<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Check</title>
    {{> links}}
  </head>
  <style>
    #preview {
      width: 100%;
    }

    .day {
      width: 40px;
    }
  </style>
  <body class="p-0 bg-light text-dark">
    {{> navbar}}
  

     <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-7">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-6">
                    <h4 class="bg-dark text-light mb-0 pb-2 pt-1 text-center"> QRCode Scanner</h4>
                    <video id="preview"></video>
                  </div>
                  <div class="col-6">
                    <h4 class="bg-dark text-light mb-0 pb-2 pt-1 text-center" >Face Detection</h4>
                    <!-- <iframe width="100%" src="https://www.youtube.com/embed/VcjzHMhBtf0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                    <video id="faceVideo" width="100%" muted>Video stream not available.</video>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-12">
                    <h3 class="bg-dark text-light mb-0 pb-2 pt-1  text-center">Last attendances</h3>
                    <table class="table table-hover mb-0">
                        <thead>
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                          </tr>
                          <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                          </tr>
                          <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- Center-aligned -->
                      <ul class="pagination justify-content-center mt-2" style="margin:20px 0; border-radius: 0;">

                          <li class="page-item"><a class="page-link text-white bg-dark" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link text-white bg-dark" href="#">1</a></li>
                          <li class="page-item"><a class="page-link text-white bg-dark" href="#">2</a></li>
                          <li class="page-item"><a class="page-link text-white bg-dark" href="#">3</a></li>
                          <li class="page-item"><a class="page-link text-white bg-dark" href="#">Next</a></li>
                      </ul>


                  </div>
                </div>
              </div>

          </div>

          <div class="col-5">
            <h3 class="bg-dark text-light mb-0 pb-2 pt-1  text-center">Last person checked</h3>
            <div class="card">
              <div class="container-fluid p-0 bg-light">
                <div class="row pt-2">
                  <div class="col-6">


                    <!-- Hidden -->
                    <canvas class="d-none" id="todaysPictureCanvas" width="400" height="300" 
                    data-toggle="tooltip" title="Today's picture" data-placement="bottom"></canvas>

                    <h6 class="text-center">Today's picture</h6>
                    <img id="todaysPicture" class="w-100" data-toggle="tooltip" title="Today's picture"  data-placement="bottom" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image">

                    
                  </div>
                  <div class="col-6">
                    <h6 class="text-center"><span class="text-secondary">Compared to</span>  Old picture</h6>
                    <img id="oldPicture" class="card-img-top" data-toggle="tooltip" title="Old picture"  data-placement="bottom" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image">
                  </div>
                </div>
              </div>
              <div class="card-body bg-light">
                 
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">AD213583 <span class="text-dark">25/10/1996</span></p>                 
                <h5 class="text-secondary">Lundi 24 juillet 2018 à 18:56 <i class="far fa-calendar-check text-success"></i></h5>
                <p class="card-text">Présence cette semaine</p>
                <div class="container-fluid">
                  <div class="row text-center">
                    <div id="lundi" class="day">Lu
                      <br>
                      <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
                    </div>
                    <div id="mardi" class="day">Ma
                      <br>
                      <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
                    </div>
                    <div id="mercredi" class="day">Mer
                      <br>
                      <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
                    </div>
                    <div id="jeudi" class="day">Je
                      <br>
                      <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
                    </div>
                    <div id="vendredi" class="day">Ve
                      <br>
                      <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
                    </div>
                    <div id="samedi" class="day">Sa
                      <br>
                      <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
                    </div>
                    <div id="dimanche" class="day">Di
                      <br>
                      <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
      </div> 


<div class="d-none">
    <h2>Cameras</h2>
  <ul id="cameras">
    
  </ul>

  <h2>Résultats</h2>
    <ul id="resultats">
      
    </ul>
</div>

    
    {{> scripts}}
    <script type="text/javascript" src="javascripts/scanner.js">
    </script>


    <script>
      /* Enable Tooltips */
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();

          let currentDay = "#" + "vendredi";
          $(currentDay).addClass("border-top").addClass("border-success");
      });
    </script>

  </body>
</html>