<!DOCTYPE html>
<html>

  <head>
    <title>Show Employee</title>
    {{> links}}
  </head>

  <body class="p-0 bg-light text-dark">
    {{> loadingSpinner}}
    {{> navbar}}
    {{> errorHandlers}}
    
     <!-- Content -->
     <div class="container-fluid">
        <div class="row">
          <div class="col-6 pt-4 bg-lightGrey">
              <div class="container fixed-top pt-5 mt-3" style="z-index: 0"> 
                {{> employees/info}}
                {{> employees/stats}}
              </div>
          </div>

          <div class="col-6 mt-4">
              <div class="container-fluid">
                {{> employees/last-attendance}}
                {{> showAttendanceModal}}
                <div id="my-calendar"></div>
                {{> employees/attendances}}
              </div>
          </div>
      </div> 

    {{> scripts}}
  
    <script>
      /* Enable Tooltips */
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
    </script>


<!-- Script Set Last Attendance -->
<script type="text/javascript" src="/javascripts/show-emp-find-last-attendance.js"></script>  
    

<div class="modal" id="takePictureModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
         <h3>Set a new profile image</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <video id="faceVideo" width="100%" muted>Video stream not available.</video>
        
        <button id="savePicture" class="btn btn-dark">Save</button>
  


         <canvas class="d-none" id="todaysPictureCanvas" width="400" height="300" 
            data-toggle="tooltip" title="Today's picture" data-placement="bottom"></canvas>

          <img src=""  width="200" id="todaysPicture" alt=""/>
        
        <!-- Scripts pr : Set New Profile Image -->
        <script src="/javascripts/facecamera.js"></script>
        <script src="/javascripts/set-profile-image.js"></script>

      </div>

    </div>
  </div>
</div>



  
  <!-- Script: Show Attendance Modal -->
  <script type="text/javascript" src="/javascripts/show-attendance-modal.js"></script>

  <script type="text/javascript" src="/javascripts/zabuto-calendar.js"></script>
  
  <!-- Script: Print Employee Card @Deprecated -->
  <script>
    function printElementById(id) {
      var e = document.getElementById(id);
      var ifr = document.createElement('iframe');
      ifr.style='height: 0px; width: 0px; position: absolute'
      document.body.appendChild(ifr);

      $(e).clone().appendTo(ifr.contentDocument.body);
      ifr.contentWindow.print();

      ifr.parentElement.removeChild(ifr);
    }

      $("button#printEmployeeCard").click(evt => {
        printElementById('employeeCard');
      });
  </script>

  </body>
</html>