<!DOCTYPE html>
<html>

  <head>
    <title>Show Employee</title>
    {{> links}}
  </head>

  <body class="p-0 bg-light text-dark">
    {{> loadingSpinner}}
    {{> navbar}}
    {{> errorHandlers}}
    
     <!-- Content -->
     <div class="container-fluid">
        <div class="row">
          <div class="col-5 pt-4 bg-lightGrey">
              <div class="container fixed-top pt-5 mt-3 ml-3 pl-0" style="z-index: 0"> 
                {{> employees/info}}
                {{> employees/stats}}
              </div>
          </div>

          <div class="col-7 mt-4">
              <div class="container-fluid">
                {{> employees/last-attendance}}
                {{> showAttendanceModal}}
                <div id="my-calendar"></div>
                {{> employees/attendances}}
              </div>
          </div>
      </div> 

    {{> takePictureModal }}
    
    {{> scripts}}
  
    <script>
      /* Enable Tooltips */
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
    </script>


<!-- Script Set Last Attendance -->
<script type="text/javascript" src="/javascripts/show-emp-find-last-attendance.js"></script>  
    



  <!-- Scripts pr : Set New Profile Image -->
  <script src="/javascripts/facecamera.js"></script>
  <script src="/javascripts/set-profile-image.js"></script>
  
  <!-- Script: Show Attendance Modal -->
  <script type="text/javascript" src="/javascripts/show-attendance-modal.js"></script>

  <script type="text/javascript" src="/javascripts/zabuto-calendar.js"></script>
  
  <!-- Scroll to bottom when showing pages" -->
  <script>

    $(document).ready(() => {
       let currentURL = window.location;

document.querySelector(".pagination").hei
    if (currentURL.toString().includes("page")) {
      window.scrollTo(0, document.querySelector(".pagination").scrollHeight+2000);
       window.scrollTo(0, document.querySelector(".pagination").scrollHeight+2000);
    }

    });
  </script>
  </body>
</html>