<div class="row pt-3">
  <div class="col-12">
    <h3 class="bg-dark text-light mb-0 pb-2 pt-1  text-center">Last attendances</h3>
    <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
      <!-- Center-aligned -->
      <ul class="pagination justify-content-center mt-2" style="margin:20px 0; border-radius: 0;">
          <li class="page-item"><a class="page-link text-white bg-dark" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link text-white bg-dark" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-white bg-dark" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-white bg-dark" href="#">3</a></li>
          <li class="page-item"><a class="page-link text-white bg-dark" href="#">Next</a></li>
      </ul>

  </div>
</div>