<h1>Last attendances</h1>

  <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each employee.attendances}}
              <tr class="attendance">               
                <td>{{dateFormat date "DD/MM/YYYY"}}</td>
                <td>{{dateFormat date "HH:mm:ss"}}</td>
                <td>
                  <button class="showAttendance btn-sm btn-warning">See 
                    <span class="d-none date">{{dateFormat date "DD/MM/YYYY à HH:mm"}}</span>
                    <span class="d-none url">/attendances/{{ _id }}</span>
                  </button>
                </td>
              <tr>
        {{/each}}
        </tbody>
      </table>        
  
	

