<h1>Last attendances</h1>

	<table class="table table-striped table-sm table-success">
    <tbody>
	{{#each employee.attendances}}
  <tr class="p-0">
    <td>
		<li class="attendance"><span class="date">{{dateFormat date "DD/MM/YYYY à HH:mm"}}</span>  
			
      <!-- J'ai laissé celle-ci d-none hit j'ai besoin du $(selecteur) pour l'URL -->
      <button class="d-none showAttendance border-warning">See <span class="d-none url">/attendances/{{ _id }}</span></button>
			<!-- <img width="150" src="{{faceImage.data}}" alt=""/> -->
		</li>
    </td>
    <td class=" ">
      	<button class="showAttendance border-warning btn btn-block btn-sm btn-warning">See <span class="d-none url">/attendances/{{ _id }}</span></button>
    </td>
  </tr>
	{{/each}}
    </tbody>
  </table> 
	

