<h1>Last attendances</h1>

	
	{{#each employee.attendances}}
		<li>{{dateFormat date "DD/MM/YYYY à HH:mm"}} - 
			<button class="showAttendance">See <span class="d-none url">/attendances/{{ _id }}</span></button>
			<!-- <img width="150" src="{{faceImage.data}}" alt=""/> -->
		</li>	
	{{/each}} 
	
<div class="modal" id="showAttendanceModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
         <h3 id="attendanceDate">Attendance</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
		<img id="attendanceImage" src="" alt="">
      </div>

    </div>
  </div>
</div>

