.btn, .page-link, .modal-content, .modal-header, .modal-body, .form-control, .input-group-text, .input-group-prepend{
	border-radius: 0 !important;
}



#preview {
  width: 100%;
}

.day {
  width: 40px;
}

